canvas {
  display: block;
}

.map-loading-overlay {
  background: var(--theme-background);
  position: fixed;
  top: 0px;
  bottom: 0;
  right: 0;
  left: -40px;
  z-index: 1000;
  opacity: 1;
  pointer-events: none;
  transition: opacity 200ms ease-out;
}

.map-loading-message {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.map-loading-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quote, p.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p.loading-text {
  text-align: center;
  font-size: 10px;
  padding: 6px;
  letter-spacing: .5em;
  text-transform: uppercase;
  border: 1px solid rgb(36, 36, 36);
  width: 150px;
  border-radius: 2px;
  animation: breathing 1.2s  ease-in infinite;
}

.quote {
  top: 110%;
  width: 400px;
  color: var(--theme-primary);
  font-size: 14px;
  font-style: italic;
  padding: 20px;
  text-align: center;
}

p.quote-author {
  position: relative;
  margin-top: 25px;
  color: var(--theme-primary);
  text-align: right;
  font-size: 11px;
}

@keyframes breathing {
  0% {
    color: #fff;
  }

  50% {
    color: rgb(78, 78, 78);
  }

  100% {
    color: #fff;
  }
}