canvas {
  display: block;
  margin: 10px;
}

.map-loading-overlay {
  background: var(--theme-background);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  opacity: 1;
  pointer-events: none;
  transition: opacity 200ms ease-out;
}

.map-loading-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p.loading-text {
  margin: 0px auto;
  position: relative;
  top: 100px;
  display: block;
  text-align: center;
  font-size: 10px;
  padding: 6px;
  letter-spacing: .5em;
  text-transform: uppercase;
  border: 1px solid rgb(36, 36, 36);
  width: 150px;
  border-radius: 2px;
  animation: breathing 1.2s  ease-in infinite;
}

.quote {
  margin: 0 auto;
  width: 500px;
  color: var(--theme-primary);
  font-size: 16px;
  font-style: italic;
  padding: 30px;
}

p.quote-author {
  position: relative;
  margin-top: 20px;
  color: var(--theme-light-grey);
  text-align: right;
  font-size: 14px;
  font-style: normal;
}

@keyframes breathing {
  0% {
    color: #fff;
  }

  50% {
    color: rgb(78, 78, 78);
  }

  100% {
    color: #fff;
  }
}