.sidebar {
  background: var(--theme-background-secondary);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  z-index: 9;
  opacity: .95;
}

.sidebar {
  text-align: center;
}

.sidebar-icon {
  position: relative;
  cursor: pointer;
  padding: 15px 0;
  background: transparent;
  transition: background 100ms ease-in-out;
}

.sidebar-icon.active {
  background: var(--theme-background-grey);
}

.sidebar-icon:hover::after {
  content: attr(alt);
  background: var(--theme-background-grey);
  position: absolute;
  text-align: center;
  padding: 4px 15px;
  left: 44px;
  white-space: nowrap;
  border: 1.5px solid #ffffff3b;
}

.sidebar-icon img {
  width: 15px;
}