.sidebar {
  background: var(--theme-background-secondary);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  z-index: 999;
  opacity: .95;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-icon {
  position: relative;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  padding: 15px 0;
}

.sidebar-icon.active {
  background: var(--theme-background-grey);
}

.sidebar-icon:hover::after {
  content: attr(alt);
  background: var(--theme-background-grey);
  position: absolute;
  text-align: center;
  padding: 4px 15px;
  left: 44px;
  white-space: nowrap;
  border: 1.5px solid #ffffff3b;
}

.sidebar-icon img {
  width: 15px;
}

.sidebar-bottom .sidebar-icon img {
  width: 24px;
  border-radius: 50%;
}