.stdout-line {
  color: var(--theme-primary);
  display: flex;
  padding: 2px;
}

.stdout-line.error {
  color: var(--theme-light-red);
}

.stdout-line.warn {
  color: var(--theme-light-yellow);
}

.stdout-line.system {
  color: var(--theme-purpled-blue);
}

.stdout-line small {
  color: var(--theme-secondary);
  margin-right: 12px;
  min-width: 70px;
}

.stdout-list.panel {
  margin-right: 0;
}

.stdout-line::selection {
  background-color: var(--theme-light-grey);
  color: #fff;
}

.stdout-line::-moz-selection {
  background-color: var(--theme-light-grey);
  color: #fff;
}

.console {
  padding: 10px 10px 0 10px;
}

.console .input-wrapper {
  overflow: hidden;
  position: relative;
  margin-top: 10px;
}

.console input {
  position: relative;
  width: 100%;
  color: var(--theme-light-grey);
  background-color: var(--theme-dark-purple);
  border: none;
  outline: none;
  padding: 11px 10px;
  width: 100%;
}

.console .input-placeholder:after {
  content: "[PRESS ENTER]";
  position: absolute;
  top: 0;
  padding: 10px 0;
  right: 1em;
  color: #383838;
  transform: translateX(0);
  transition: transform 90ms ease-in;
}

.console input:focus + .input-placeholder:after {
  transform: translateX(120px);
}

/*
.stdout-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.stdout-list::-webkit-scrollbar {
  display: none;
}*/