* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --theme-primary: #fff;
  --theme-secondary: #c1fadb;
  --theme-background: #000;
  --theme-background-secondary: #151515;
  --theme-grey: #777;
  --theme-grey-2: #222;
  --theme-grey-3: #7b7b7b;
  --theme-background-grey: #2d2d2d;
  --theme-light-red: #ff5353;
  --theme-purpled-blue: #9191ff;
  --theme-light-yellow: #ffffcc;
  --theme-light-grey: #a9a9a9;
  --theme-transparent-light-grey: #a9a9a933;
  --theme-dark-purple: #0c0a11;
  --theme-transparent-black: #000000c4;
  --theme-orange: rgb(255, 167, 96);
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-family: 'Roboto Mono', monospace;
  font-size: 11px;
  color: var(--theme-primary);
  letter-spacing: 0.04em;
}

button,
input {
  font-family: 'Roboto Mono', monospace;
}

button {
  background: transparent;
  cursor: pointer;
  border: 1px solid var(--theme-background-grey);
  color: var(--theme-primary);
  padding: 5px 20px;
  font-size: 11px;
  letter-spacing: .2em;
  text-transform: uppercase;
  transition: all 150ms ease-in;
}

button:hover {
  background: var(--theme-primary);
  color: var(--theme-background);
}

a {
  color: var(--theme-primary);
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
}

textarea {
  border: 2px solid transparent;
}

textarea:focus {
  outline: none;
  border-color: var(--theme-purpled-blue);
}

.atlas-scroll {
  scrollbar-width: 6px;
  scrollbar-color: var(--theme-background-grey) transparent;
}

.atlas-scroll::-webkit-scrollbar {
  width: 6px;
}

.atlas-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.atlas-scroll::-webkit-scrollbar-thumb {
  background-color: var(--theme-background-grey);
  border-radius: 0px;
  border: 3px solid transparent;
}
