* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --theme-primary: #fff;
  --theme-secondary: #c1fadb;
  --theme-background: #000;
  --theme-background-secondary: #151515;
  --theme-background-grey: #2d2d2d;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-family: 'Roboto Mono', Courier;
  font-size: 11px;
  color: var(--theme-primary);
  letter-spacing: 0.02em;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
}