.controls {
  background: var(--theme-background-secondary);
  position: absolute;
  width: 600px;
  height: 350px;
  box-shadow: 1px 1px 9px #000;
  z-index: 8;
  opacity: .95;
}

.panel {
  margin: 10px 15px;
}

.topbar {
  background: var(--theme-background-grey);
  padding: 6px 15px;
  text-transform: uppercase;
  font-size: .9rem;
  cursor: move;
  display: flex;
  align-items: center;
}

.topbar h3 {
  margin-right: 10px;
  cursor: pointer;
  padding: 2px 6px;
}

.topbar h3.active {
  background: var(--theme-background);
}

.close-btn {
  padding: 15px 30px;
  position: absolute;
  right: 0px;
  cursor: pointer;
}

.close-btn:after {
  content: "";
  background: var(--theme-light-grey);
  box-shadow: 0px 3px 3px 1px #0000003d;
  position: absolute;
  top: 12px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  width: 20px;
  margin: 0 auto;
}